<div class="container" id="container">
    <div class="form-container sign-in-container">
        <!-- <form action="#"> -->
        <img src="https://i.postimg.cc/DykM690F/joel-filipe-j-U9-VAZDGMzs-unsplash.jpg" alt="Evento" width="120%"
            height="100%">
        <!-- <div class="centered">FutureBlock</div> -->
        <!-- </form> -->
    </div>
    <div class="overlay-container">
        <div class="overlay">

            <div class="overlay-panel overlay-right">
                <img class="logo" src="https://i.postimg.cc/4NRXcFTH/course-logos-transparent.png" alt="Evento"
                    width="150px" height="150px">
                <h4 class="head-logo">Hi! Welcome to Course-Carrer</h4>
                <form>
                    <input type="email" placeholder="Email" />
                    <input type="password" placeholder="Password" />

                    <br>
                    <br>
                    <button type="submit" routerLink="/">Login</button>
                </form>

                <br>
                <div class="flop">
                    <h4 class="head-log">Don't have account? </h4>
                    <h3 class="head-logr" routerLink="/register">Register</h3>
                </div>

                <!-- <li><a class="dropdown-item" routerLink="/dashboard">Blog Post</a></li> -->

            </div>
        </div>
    </div>
</div>
