<section class="image-1">


<div class="container" id="container">
    
    <div class="overlay-container">
        <div class="overlay">

            <div class="overlay-panel overlay-right">
               
                <h4 class="head-logo">Register and start learning</h4>
                 
                <form>
                    <div *ngIf="showInput">
                        <input type="text" placeholder="Company Name" [(ngModel)]="inputValue">
                    </div>
                    <input type="" placeholder="Email" />
                    <input type="" placeholder="Password" />                      
                    <div class="input">
                        <select (change)="onDropdownChange($event)">    
                            <option>Select Usertype</option>
                            <option value="hide">Fresher</option>
                            <option value="hide">Experience</option>
                            <option value="hide">Freelancer</option>                         
                            <option value="show">Corporate</option>
                        </select>
                    </div>               
                      
                    <button type="submit" routerLink="/login">Register</button>
                </form>
                 <br>
                 <br>
                 <br>

                <p class="passfor">By signing up, you agree to our <u>Terms of Use</u> and <u>Privacy Policy.</u></p>

                <u class="underl"></u>
                <div class="flop">
                    <h4 class="head-log">Already have an account? </h4>
                    <h3 class="head-logr" routerLink="/register"><u>Login</u></h3>
                </div> 
            </div>
        </div>
    </div>
</div>

 
</section>
