<div class="container" id="container">

    <div class="overlay-container">
        <div class="overlay">

            <div class="overlay-panel overlay-right">
                <img class="logo" src="https://i.postimg.cc/4NRXcFTH/course-logos-transparent.png" alt="Evento"
                    width="150px" height="150px">
                <h4 class="head-logo">Hi! Welcome to Course-Carrer</h4>
                <form>
                    <input type="" placeholder="Email" />
                    <input type="" placeholder="Password" />

                    <br>
                    <br>

                    <div class="cards-status">

                    <p class="icon" routerLink="/fresherregister"><mat-icon>perm_identity</mat-icon>
                        Fresher
                    </p>
                    
                    <p class="icon" routerLink="/experienceregister"><mat-icon>perm_identity</mat-icon>
                        Experience</p>
                    
                    <p class="icon" routerLink="/freelancerregister"><mat-icon>perm_identity</mat-icon>
                        Freelancer</p>
                    
                    <p class="icon"><mat-icon>perm_identity</mat-icon>
                        Corporate</p>


                    </div>



                    <button type="submit" routerLink="/">Register</button>
                </form>

                <br>
                <div class="flop">
                    <h4 class="head-log">You have account? </h4>
                    <h3 class="head-logr" routerLink="/register">Login</h3>
                </div>

                <!-- <li><a class="dropdown-item" routerLink="/dashboard">Blog Post</a></li> -->

            </div>
        </div>
    </div>
</div>