<div class="tab-fields">
  
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
         
        <mat-tab label="Update profile"><br> Update profile</mat-tab>
        
        <mat-tab label="Profile picture">Profile picture</mat-tab>
        <mat-tab label="Personal details">Personal details</mat-tab>
        <mat-tab label="Education">Education</mat-tab>
        <mat-tab label="Skills">Skills</mat-tab>
        <mat-tab label="Resume Upload">Resume Upload</mat-tab>
        <mat-tab label="Post Project">Post Project</mat-tab>
        <!-- <mat-tab label="Second">Content 2</mat-tab>
        <mat-tab label="Third">Content 3</mat-tab> -->
    </mat-tab-group>
 
</div>