<div class="tab-fields">
 
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">

        <mat-tab label="Personal Profile"><br>
     
            <!-- Fresher Start -->
            <form>
                  <!-- <div mat-dialog-content class="content"> -->
                    <div class="row">                      
                        <!-- <mat-divider></mat-divider> -->
                        <mat-tab-group>
                            <mat-tab label="Basic Details">
                                <div mat-dialog-content class="content">
                                <div class="addr">
                                <mat-form-field class="course-duration"
                                    appearance="outline">
                                    <mat-label>Name
                                    </mat-label>
                                    <input matInput type="text"
                                        placeholder="Marcos">
                                </mat-form-field>


                                 <!-- <h3 class="head-Ux">UI/UX</h3><br> -->
                                <div class="course-duration">                                    
                                   
                                     <mat-radio-button class="example-margin" value="after">
        Fresher</mat-radio-button>
        <mat-radio-button class="example-no" value="after">
        Experience</mat-radio-button>
         
                                     
                                </div>
                            </div>
                          

                            <div class="addr">
                                <mat-form-field class="name-f2"
                                    appearance="outline">
                                    <mat-label>Total Experience
                                    </mat-label>
                                    <input matInput type="text"
                                        placeholder="Marcos">
                                </mat-form-field>

                                <mat-form-field class="name-f2"
                                    appearance="outline">
                                    <mat-label>Website</mat-label>
                                    <input matInput type="text"
                                        placeholder="Marcos">
                                </mat-form-field>
                            </div>

                            <div class="addr">
                                <mat-form-field class="name-f2"
                                    appearance="outline">
                                    <mat-label>Current Salary</mat-label>
                                    <input matInput type="text"
                                        placeholder="Landmark">
                                </mat-form-field>
                                <mat-form-field class="name-f2"
                                    appearance="outline">
                                    <mat-label>Current Location</mat-label>
                                    <input matInput type="text"
                                        placeholder="city">
                                </mat-form-field>
                            </div>
                            <div class="addr">
                                <mat-form-field class="name-f2"
                                    appearance="outline">
                                    <mat-label>Mobile number</mat-label>
                                    <input matInput type="text"
                                        placeholder="state">
                                </mat-form-field>

                                <mat-form-field class="name-f2"
                                    appearance="outline">
                                    <mat-label>Email address</mat-label>
                                    <input matInput type="text"
                                        placeholder="zipcode">
                                </mat-form-field>
                            </div>
                            <div class="addr">
                                <mat-form-field class="name-f2"
                                    appearance="outline">
                                    <mat-label>Country</mat-label>
                                    <input matInput placeholder="country"
                                        type="text">
                                </mat-form-field>
                            </div>
                                </div> 
                            </mat-tab>
                
                             
                            <mat-tab label="Personal details">
                                <div mat-dialog-content class="content">
                                    <div class="use">
                                          <div class="addr">
                                <mat-form-field class="name-f2"
                                    appearance="outline">
                                    <mat-label>First Name
                                    </mat-label>
                                    <input matInput type="text"
                                        placeholder="Marcos">
                                </mat-form-field>

                                <mat-form-field class="name-f2"
                                    appearance="outline">
                                    <mat-label>Website</mat-label>
                                    <input matInput type="text"
                                        placeholder="Marcos">
                                </mat-form-field>
                            </div>
                          

                            <div class="addr">
                                <mat-form-field class="name-f2"
                                    appearance="outline">
                                    <mat-label>Last Name
                                    </mat-label>
                                    <input matInput type="text"
                                        placeholder="Marcos">
                                </mat-form-field>

                                <mat-form-field class="name-f2"
                                    appearance="outline">
                                    <mat-label>Website</mat-label>
                                    <input matInput type="text"
                                        placeholder="Marcos">
                                </mat-form-field>
                            </div>

                            <div class="addr">
                                <mat-form-field class="name-f2"
                                    appearance="outline">
                                    <mat-label>Landmark</mat-label>
                                    <input matInput type="text"
                                        placeholder="Landmark">
                                </mat-form-field>
                                <mat-form-field class="name-f2"
                                    appearance="outline">
                                    <mat-label>City</mat-label>
                                    <input matInput type="text"
                                        placeholder="city">
                                </mat-form-field>
                            </div>
                            <div class="addr">
                                <mat-form-field class="name-f2"
                                    appearance="outline">
                                    <mat-label>state</mat-label>
                                    <input matInput type="text"
                                        placeholder="state">
                                </mat-form-field>

                                <mat-form-field class="name-f2"
                                    appearance="outline">
                                    <mat-label>ZipCode</mat-label>
                                    <input matInput type="text"
                                        placeholder="zipcode">
                                </mat-form-field>
                            </div>
                            <div class="addr">
                                <mat-form-field class="name-f2"
                                    appearance="outline">
                                    <mat-label>Country</mat-label>
                                    <input matInput placeholder="country"
                                        type="text">
                                </mat-form-field>
                            </div>
                                    </div>
                                </div>
                            </mat-tab>                                
                        </mat-tab-group>                
                    </div>
             
                
                
                
                <!-- </div> -->

                <div mat-dialog-actions class="action">
                    <button mat-raised-button color="primary" type="submit">Save</button>
                </div>
            </form>


        </mat-tab>
        <mat-tab label="Profile picture">
          <br>
             <div class="div">
      <div class="div-2">Image preview</div>
      <div class="div-3">Minimum 200x200 pixels, Maximum 6000x6000 pixels</div>
      <div class="div-4">
        <img
          loading="lazy"
          srcset="https://i.postimg.cc/PqdZ7vLW/anonymous-3.png"
          class="img"
        />
      </div>
      <!-- <div class="div-5">
        <div class="div-6">Upload image</div>
        <div class="div-7">No file selected</div>
      </div> -->

<div class="div-5">
  <div class="div-2-2" ><input type="file" placeholder="Uploadimage"/> </div>
  <div class="div-3-3">No file selected</div>
</div>
 

 



    </div>
        </mat-tab>



        <mat-tab label="Employment">
             <div mat-dialog-content class="content">
                 <div class="addr">
                   <div class="employemt-style">
                      <br>
            <h4>
                Is this your current employment?
                <br>
        <mat-radio-button class="example-margin" value="after">
        Yes</mat-radio-button>                    
        <mat-radio-button class="example-no" value="after">
        No</mat-radio-button>

            </h4>
            </div>
             <div class="employemt-style">
             <br>
            <h4>
               Employment type
                <br>
        <mat-radio-button class="example-margin" value="after">
        Yes</mat-radio-button>
        <mat-radio-button class="example-no" value="after">
        No</mat-radio-button>
            </h4>
          </div>
      </div> 
<br>
<h4 class="heading-employement">Total experience</h4>
   <div class="employemt-style">

      <div class="addr">       
        <mat-form-field class="drpdwn">
  <mat-label>Years</mat-label>
  <mat-select class="" disableRipple>
    <mat-option value="1">0 Years</mat-option>
    <mat-option value="2">Option 2</mat-option>
    <mat-option value="3">Option 3</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="drpdwn">
  <mat-label>Months</mat-label>
  <mat-select disableRipple>
    <mat-option value="1">0 Months</mat-option>
    <mat-option value="2">Option 2</mat-option>
    <mat-option value="3">Option 3</mat-option>
  </mat-select>
</mat-form-field>

      </div>          
        </div>
         </div>

         <h4 class="heading-employement">Joining Date</h4>
   <div class="employemt-style">

      <div class="addr">       
        <mat-form-field>
  <mat-label>Select Year</mat-label>
  <mat-select disableRipple>
    <mat-option value="1">0 Years</mat-option>
    <mat-option value="2">Option 2</mat-option>
    <mat-option value="3">Option 3</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Select Month</mat-label>
  <mat-select disableRipple>
    <mat-option value="1">0 Months</mat-option>
    <mat-option value="2">Option 2</mat-option>
    <mat-option value="3">Option 3</mat-option>
  </mat-select>
</mat-form-field>
   
      </div>  
      
      
        </div>
        <div class="addr">
        <mat-form-field class="name-employe"
            appearance="outline">
            <mat-label>Current company name
            </mat-label>
            <input matInput type="text"
                placeholder="Marcos">
        </mat-form-field>

        <mat-form-field class="name-employe"
            appearance="outline">
            <mat-label>Current designation</mat-label>
            <input matInput type="text"
                placeholder="Marcos">
        </mat-form-field>
 
        </div>

          <div class="add-employemt">
        <mat-form-field class="name-employe"
            appearance="outline">
            <mat-label>Skills used
            </mat-label>
            <input matInput type="text"
                placeholder="Marcos">
        </mat-form-field>

        <mat-form-field class="name-employe"
            appearance="outline">
            <mat-label>Current designation</mat-label>
            <input matInput type="text"
                placeholder="Marcos">
        </mat-form-field>
 
        </div>
                               
                          
        </mat-tab>
        
        <!-- Employment End -->

        <mat-tab label="Education">
            <br>
             <form>
                <div mat-dialog-content class="content">
                    <div class="row">   
                        <div mat-dialog-content class="content">                           
                             <div class="addr">
                                <mat-form-field class="course-duration"
                                    appearance="outline">
                                    <mat-label>Education
                                    </mat-label>
                                    <input matInput type="text"
                                        placeholder="Marcos">
                                </mat-form-field>

                                <mat-form-field class="course-duration"
                                    appearance="outline">
                                    <mat-label>University/Institute</mat-label>
                                    <input matInput type="text"
                                        placeholder="Marcos">
                                </mat-form-field>
                            </div>
                          

                            <div class="addr">
                                <mat-form-field class="course-duration"
                                    appearance="outline">
                                    <mat-label>Course
                                    </mat-label>
                                    <input matInput type="text"
                                        placeholder="Marcos">
                                </mat-form-field>

                                <mat-form-field class="course-duration"
                                    appearance="outline">
                                    <mat-label>Specialization
</mat-label>
                                    <input matInput type="text"
                                        placeholder="Marcos">
                                </mat-form-field>
                            </div>

                            <div class="addr">                                
                                  <div class="education-radio">
             <br>
            <h4>
               Employment type
                <br>
        <mat-radio-button class="example-margin" value="after">
        Part time</mat-radio-button>
        <mat-radio-button class="example-no" value="after">
        Full time</mat-radio-button>
         <mat-radio-button class="example-no" value="after">
        Correspondence/Distance learning</mat-radio-button>
            </h4>
          </div>
                                
                            </div>
                             <h4> Course duration</h4>
                            <div class="addr">
                               
                                <mat-form-field class="course-duration"
                                    appearance="outline">
                                    <mat-label>Starting year

                                    </mat-label>
                                    <input matInput type="text"
                                        placeholder="Marcos">
                                </mat-form-field>
                                <mat-form-field class="course-duration"
                                    appearance="outline">
                                    <mat-label>Ending year

                                    </mat-label>
                                    <input matInput type="text"
                                        placeholder="Marcos">
                                </mat-form-field>
                               
                            </div>
                              <div class="addr">
                               
                                <mat-form-field class="course-duration"
                                    appearance="outline">
                                    <mat-label>Grading system

                                    </mat-label>
                                    <input matInput type="text"
                                        placeholder="Marcos">
                                </mat-form-field>
                              </div>
                             
                        </div>
                    </div>
                </div>
                <div mat-dialog-actions class="action">
                    <button mat-raised-button color="primary" type="submit">Save</button>
                </div>
            </form>


        </mat-tab>

        <mat-tab label="Skill Type">
            Skill Type
            <br><br>
            <mat-card>
  <mat-card-content>ITSkills</mat-card-content>
  <br>
  <div class="ItSkill-Crd">
    <p>
        Skills
    </p>
    <p>
        Skills
    </p>
    <p>
        Skills
    </p>
    <p>
        Skills
    </p>
    <mat-divider></mat-divider>
    
  </div>
  <br>
   <div class="ItSkill-Crd">
    <p>
        Skills
    </p>
    <p>
        Skills
    </p>
    <p>
        Skills
    </p>
    <p>
        Skills
    </p>
    <mat-divider></mat-divider>
    
  </div>
</mat-card>

        </mat-tab>











        <mat-tab label="Resume Upload">
           <br>
            <div class="resume-upload">
             <h3>Resume</h3>
             <p>Resume is the most important document recruiters look for, Recruiters generally do not look at profiles without resumes.</p>
             <div class="div-resume">
                  <button class="btn-upload" mat-raised-button color="primary" appearance="outline">Upload Resume</button>
                  <br>
                  <p class="p-description">Supported Formats: doc, docx, rtf, pdf, upto 2 MB</p>
             </div>
             <br>
             <br>
             <div class="resume-create">
                <p>	<mat-icon class="icon">assignment</mat-icon></p>
                <div>
                    <h3 class="headresume">Don’t have a resume yet?</h3>
                    <p class="resume-p">Create a job-winning resume with our simple resume builder</p>
                    <h3 class="cr-re">Create free resume</h3>
                </div>
             </div>
           </div>
        </mat-tab>

         <mat-tab label="Add Project">
                <div mat-dialog-content class="content">
                    <div class="row">
                          <div>
                              <form>
                                 <br>
            <h4>
               Employment type
                <br>
        <mat-radio-button class="example-margin" value="after">
        Inprogress</mat-radio-button>
        <mat-radio-button class="example-no" value="after">
        Finished</mat-radio-button>
        
            </h4>
                <div mat-dialog-content class="content">
                    <div class="row">   
                        <div mat-dialog-content class="content">                           
                             <div class="addr">
                                <mat-form-field class="course-duration"
                                    appearance="outline">
                                    <mat-label>Project title
                                    </mat-label>
                                    <input matInput type="text"
                                        placeholder="Marcos">
                                </mat-form-field>

                                <mat-form-field class="course-duration"
                                    appearance="outline">
                                    <mat-label>Tag this project</mat-label>
                                    <input matInput type="text"
                                        placeholder="Marcos">
                                </mat-form-field>
                            </div>
                          

                            <div class="addr">
                                <mat-form-field class="course-duration"
                                    appearance="outline">
                                    <mat-label>Client
                                    </mat-label>
                                    <input matInput type="text"
                                        placeholder="Marcos">
                                </mat-form-field>

                                <mat-form-field class="course-duration"
                                    appearance="outline">
                                    <mat-label>Project location
</mat-label>
                                    <input matInput type="text"
                                        placeholder="Marcos">
                                </mat-form-field>
                            </div>

                            <div class="addr">                                
                                  <div class="education-radio">
            
          </div>
                                
                            </div>
                            
                            <div class="addr">
                               
                                <mat-form-field class="course-duration"
                                    appearance="outline">
                                    <mat-label>Worked from

                                    </mat-label>
                                    <input matInput type="text"
                                        placeholder="Marcos">
                                </mat-form-field>
                                <mat-form-field class="course-duration"
                                    appearance="outline">
                                    <mat-label>Ending year

                                    </mat-label>
                                    <input matInput type="text"
                                        placeholder="Marcos">
                                </mat-form-field>
                               
                            </div>
                              <div class="addr">
                               
                                <mat-form-field class="course-duration"
                                    appearance="outline">
                                    <mat-label>Skills used

                                    </mat-label>
                                    <input matInput type="text"
                                        placeholder="Marcos">
                                </mat-form-field>
                                <br>
                              </div>
                               <h4 class="project-btn"> Add more details</h4>
<br><br>
                             
                        </div>
                    </div>
                </div>
                <!-- <div mat-dialog-actions class="action">
                    <button mat-raised-button color="primary" type="submit">Save</button>
                </div> -->
            </form>
                                
                        </div>                         
                    </div> 
                </div>
                </mat-tab> 
    </mat-tab-group>

</div>