<div class="">
    <div class="">
      <br>
    </div>
    <div class="user" routerLink="/login">
        <!-- <img src="https://i.ibb.co/9cZsx6k/hhhh-removebg-preview-removebg-preview.png" alt="">     -->
    </div>
    <div class="">
        <div class="">
           <div class="menu-head">
               <span>Dashboard</span>
           </div>
           <div class="menu-item">
           
            <div mat-button class="menu-button" routerLink="/homedash">
                <mat-icon>home</mat-icon>
                
            </div>          

            <div mat-button class="menu-button" routerLink="/venues"> 
                <mat-icon>language</mat-icon>
              
            </div>
            <div mat-button class="menu-button" routerLink="/spaces">
                <mat-icon>location_city</mat-icon>
            
            </div>
            <div mat-button class="menu-button">
                <mat-icon>bookings</mat-icon>
             
            </div>
            <div mat-button class="menu-button">
                <mat-icon>multiline_chart</mat-icon>
                
            </div>
            
 
            <br>
            <br>
            <br>



            <div mat-button class="menu-button" routerLink="/user">
                <mat-icon>settings</mat-icon>
                <!-- <span class="mnguse">Settings</span> -->
            </div>

           </div>
        </div>
    </div>    
</div>